.archive-hero {
    padding: 175px 0px;
}
.archive {
    &__col {
        background: $white;
        padding: 40px;

        &__wrap {
            padding: 0 12px;
        }
        &__date {
            padding: 20px;
            background-color: $offwhite;
            width: fit-content;
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .archive-hero {
        padding: 150px 0px;
    }
}
@media (max-width: 767px) {
    .archive-hero {
        padding: 150px 0px;
    }
    .archive {
        &__col {
            padding: 20px;
        }
    }
}