.banner {
    position: relative;
    margin-top: 60px;

    &__header {
        color: $white;
    }
    &__subheader {
        color: $white;
        margin-bottom: 30px;
    }
    &__button {
        gap: 16px;
    }
    &__image-right {
        z-index: 1;
        position: absolute;
        top: -44px;
        right: 0px;
        bottom: 0px;
        filter: drop-shadow(0px 0px 12px rgba(50, 50, 0, 0.11));
        width: 55%;
        left: unset;

        img {
            clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
            box-shadow: 0px 0px 12px 0px #00000025;
        }
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .banner {
        &__image-right {
            width: 45%;

            img {
                clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }
        &__button {
            flex-wrap: wrap;

            .button {
                width: 100%;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .banner {
        &__image-right {
            display: none;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__button {
            flex-wrap: wrap;

            .button {
                width: 100%;
                text-align: center;
            }
        }
    }
}