// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

// Fonts
$primaryFont: 'Figtree', sans-serif;
$secondaryFont: 'Roboto Mono', monospace;
$tertiaryFont: 'Inter', sans-serif;

// Colors
$white: #ffffff;
$navy: #141B4D;
$steel: #647692;
$silver: #C8D8EB;
$light-silver: #E3EBF5;
$lightest-silver: #F1F5FA;
$blue: #489FDF;
$blue-ada: #1179C5;
$green: #00B373;
$green-ada: #11865C;
$yellow: #F0B323;
$orange: #FF8F1C;
$red: #F4364C;
$red-ada: #DF2D42;
$violet: #C964CF;
$black: #232323;
$brown: #89532F;

// Spacing
$gutter: 10px;

// Border Radius
$radius-3xl: 20px;
$radius-md: 8px;
$radius-xs: 4px;

// Override Bootstrap Variables
$spacer:$gutter;

$spacers: (
  0: 0,
  1: ($spacer * 0.5),
  2: $spacer,
  3: ($spacer * 1.5),
  4: ($spacer * 2),
  5: ($spacer * 2.5),
  6: ($spacer * 3),
  7: ($spacer * 3.5),
  8: ($spacer * 4),
  9: ($spacer * 4.5),
  10: ($spacer * 5),
  11: ($spacer * 5.5),
  12: ($spacer * 6),
  13: ($spacer * 6.5),
  14: ($spacer * 7),
  15: ($spacer * 7.5),
  16: ($spacer * 8),
  17: ($spacer * 8.5),
  18: ($spacer * 9),
  19: ($spacer * 9.5),
  20: ($spacer * 10),
  21: ($spacer * 10.5),
  22: ($spacer * 11),
  23: ($spacer * 11.5),
  24: ($spacer * 12),
  25: ($spacer * 12.5),
  26: ($spacer * 13),
  27: ($spacer * 13.5),
  28: ($spacer * 14),
  29: ($spacer * 14.5),
  30: ($spacer * 15),
  31: ($spacer * 15.5),
  32: ($spacer * 16),
  33: ($spacer * 16.5),
  34: ($spacer * 17),
  35: ($spacer * 17.5),
  36: ($spacer * 18),
  37: ($spacer * 18.5),
  38: ($spacer * 19),
  39: ($spacer * 19.5),
  40: ($spacer * 20),
);