/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

// Background set to offwhite
.page, .blog, .post {
    // background: $offwhite;
}

// Social Sharing
.simplesocialbuttons {
    background: transparent !important;
}

// Typography
h1.h1-jumbo, .h1-jumbo, .h1-jumbo h1, .h1-jumbo h2 {
    font-size: 60px;
    font-family: $primaryFont;
    text-transform: uppercase;
    line-height: 1.16;
    font-weight: 300;
    letter-spacing: -1px;
}
h1, .h1 {
    font-size: 60px;
    font-family: $primaryFont;
    line-height: 1.1;
    font-weight: 300;
}
h2.oversized-h2, .oversized-h2 {
    font-size: 62px;
    font-family: $primaryFont;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
}
h2, .h2 {
    font-size: 32px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: -1px;
    margin: 0 0 20px !important;
}
.oversized-h3 {
    font-size: 48px;
    font-family: $primaryFont;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: -1px;
}
h3, .h3 {
    font-size: 24px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -1px;
}
h4, .h4 {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -1px;
}
h5, .h5 {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.33;
}
h6, .h6 {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.25;
}
.text-xl-regular {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-xl-medium {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-xl-bold {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-lg-regular {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-lg-medium {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-lg-bold {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-md-regular {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 16px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-md-medium {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 16px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-md-bold {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 16px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-sm-regular {
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 14px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-sm-medium {
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 14px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-sm-bold {
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 14px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-xs-regular {
    font-size: 12px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-xs-medium {
    font-size: 12px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-xs-bold {
    font-size: 12px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    p, li, a, button, span {
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
p, span {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;
}

// Font classes
.text-primary {
    font-family: $primaryFont;
}
.text-secondary {
    font-family: $secondaryFont;
}
.text-tertiary {
    font-family: $tertiaryFont;
}

// Background images that lazy load
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.object-fit-cover > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.object-fit-contain > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: contain;
}

h1, h2, h3, h4, h5, h6, p, span, li {
    text-wrap: pretty
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
    
}
@media screen and (max-width: 767px) {
    h1.h1-jumbo, .h1-jumbo, .h1-jumbo h1, .h1-jumbo h2 {
        font-size: 40px;
    }
    h1, .h1 {
        font-size: 40px;
    }
    h2.oversized-h2, .oversized-h2 {
        font-size: 48px;
    }
    h2, .h2 {
        font-size: 28px;
    }
    .oversized-h3 {
        font-size: 32px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 18px;
    }
    h5, .h5 {
        font-size: 16px;
    }
    h6, .h6 {
        font-size: 14px;
    }
    .text-xl-regular {
        font-size: 18px;

        p, li, a, button, span {
            font-size: 18px;
        }
    }
    .text-xl-medium {
        font-size: 18px;

        p, li, a, button, span {
            font-size: 18px;
        }
    }
    .text-xl-bold {
        font-size: 18px;

        p, li, a, button, span {
            font-size: 18px;
        }
    }
    .text-lg-regular {
        font-size: 16px;

        p, li, a, button, span {
            font-size: 16px;
        }
    }
    .text-lg-medium {
        font-size: 16px;

        p, li, a, button, span {
            font-size: 16px;
        }
    }
    .text-lg-bold {
        font-size: 16px;

        p, li, a, button, span {
            font-size: 16px;
        }
    }
}