/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

// Background set to offwhite
.page, .blog, .post {
    // background: $offwhite;
}

body {
    --gf-form-validation-heading-color: $red-ada;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* Deprecated, but still widely used for compatibility */
    white-space: nowrap;
    border: 0;
}

// Social Sharing
.simplesocialbuttons {
    background: transparent !important;
}

.lg-show {
    display: block;
}
.lg-hide {
    display: none;
}
@media (min-width: 768px) and (max-width: 992px) {
    .md-show {
        display: block;
    }
    .md-hide {
        display: none;
    }
}
@media (max-width: 767px) {
    .sm-show {
        display: block;
    }
    .sm-hide {
        display: none;
    }
}

// Containers 
@media (max-width: 992px) {
    .container, .container-sm, .container-md {
        max-width: unset;
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media (min-width: 992px) {
    .container, .container-sm, .container-md {
        max-width: 1150px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media (min-width: 1200px) {
    .container, .container-sm, .container-md {
        max-width: 1400px;
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media (min-width: 1400px) {
    .container, .container-sm, .container-md {
        max-width: 1600px;
        padding-right: 60px;
        padding-left: 60px;
    }
}

// Fixing broken link class
.broken_link, a.broken_link {
    text-decoration: none !important;
}
// Breadcrumbs
#breadcrumbs {
    > span {
        display: flex;
        gap: 40px;
        align-items: center;

        > span:first-of-type {
            padding-right: 12px;

            > a {
                position: relative;
                color: transparent;
                padding: 0;

                &:hover {
                    color: transparent !important;
                    background: transparent !important; 
                    text-decoration: none !important;
                }

                &:focus, &:focus-visible, &:focus-within {
                    outline-color: transparent; 
                    outline-style: solid;
                    box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                    border-radius: $radius-xs;
                    color: transparent !important;
                    background: transparent !important; 
                    text-decoration: none !important;
                }

                &:after {
                    position: absolute;
                    content: '';
                    width: 24px;
                    height: 24px;
                    left: calc(50% - 12px);
                    top: calc(50% - 12px);
                    background-image: url('/wp-content/uploads/2026/02/Breadcrumb-button-base.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
            }
        }
        > span {
            position: relative;
            line-height: 1;
            padding-left: 12px;

            &:has(a) {
                padding-left: 0;
            }

            &:after {
                position: absolute;
                content: '';
                width: 8px;
                height: 13px;
                right: -26px;
                top: calc(50% - 6px);
                background-image: url('/wp-content/uploads/2026/02/Icon.svg');
                background-size: 100%;
                background-repeat: no-repeat;
            }

            a {
                font-size: 14px;
                font-family: $primaryFont;
                font-weight: 500;
                line-height: 1.5;
                padding: 8px 12px;
                color: $steel;
                background: transparent !important;
                outline: none !important;
                border-color: transparent !important;
                border: none;
                border-radius: $radius-sm;
                transition: all .3s ease-in-out !important;

                &:hover {
                    color: $white !important;
                    background: $navy !important; 
                    text-decoration: none !important;
                }

                &:focus, &:focus-visible, &:focus-within {
                    outline-color: transparent; 
                    outline-style: solid;
                    box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                    border-radius: $radius-xs;
                    color: $white !important;
                    background: $navy !important;
                    text-decoration: none !important;
                }
            }
        }
        .breadcrumb_last {
            font-size: 14px;
            font-family: $primaryFont;
            font-weight: 500;
            line-height: 1.5;
            color: $steel;

            &:after {
                display: none;
            }
        }
    }
}

// Typography
h1.h1-jumbo, .h1-jumbo, .h1-jumbo h1, .h1-jumbo h2 {
    font-size: 60px;
    font-family: $primaryFont;
    text-transform: uppercase;
    line-height: 1.16;
    font-weight: 300;
    letter-spacing: -1px;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 60px;
        font-family: $primaryFont;
        text-transform: uppercase;
        line-height: 1.16;
        font-weight: 300;
        letter-spacing: -1px;
    }
}
h1, .h1 {
    font-size: 60px;
    font-family: $primaryFont;
    line-height: 1.1;
    font-weight: 300;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 60px;
        font-family: $primaryFont;
        line-height: 1.1;
        font-weight: 300;
    }
}
h2.oversized-h2, .oversized-h2 {
    font-size: 62px;
    font-family: $primaryFont;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -1px;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 62px;
        font-family: $primaryFont;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -1px;
    }
}
h2, .h2 {
    font-size: 32px;
    font-family: $primaryFont;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: -1px;
    margin: 0 0 20px !important;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 32px;
        font-family: $primaryFont;
        font-weight: 300;
        line-height: 1.375;
        letter-spacing: -1px;
        margin: 0 0 20px !important;
    }
}
.oversized-h3 {
    font-size: 48px;
    font-family: $primaryFont;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: -1px;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 48px;
        font-family: $primaryFont;
        font-weight: 300;
        line-height: 1.33;
        letter-spacing: -1px;
    }
}
h3, .h3 {
    font-size: 24px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -1px;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 24px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.33;
        letter-spacing: -1px;
    }
}
h4, .h4 {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -1px;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -1px;
    }
}
h5, .h5 {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.33;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.33;
    }
}
h6, .h6 {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.25;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 16px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.25;
    }
}
.text-xl-regular {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-xl-medium {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-xl-bold {
    font-size: 20px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 20px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-lg-regular {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-lg-medium {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-lg-bold {
    font-size: 18px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 18px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-md-regular {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 16px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-md-medium {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 16px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-md-bold {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 16px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-sm-regular {
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 14px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-sm-medium {
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 14px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-sm-bold {
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 14px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
.text-xs-regular {
    font-size: 12px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.text-xs-medium {
    font-size: 12px;
    font-family: $primaryFont;
    font-weight: 500;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 500;
        line-height: 1.5;
    }
}
.text-xs-bold {
    font-size: 12px;
    font-family: $primaryFont;
    font-weight: 600;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.5;
    }
}
p {
    font-size: 16px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;
}

// Font classes
.font-primary {
    font-family: $primaryFont;
}
.font-secondary {
    font-family: $secondaryFont;
}
.font-tertiary {
    font-family: $tertiaryFont;
}

// Background images that lazy load
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.object-fit-cover > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.object-fit-contain > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: contain;
}

h1, h2, h3, h4, h5, h6, p, span, li {
    text-wrap: pretty
}

// Facet WP
.facetwp-facet.facetwp-type-dropdown, .facetwp-facet.facetwp-type-reset {
    margin-bottom: 0 !important;
}
.facetwp-facet.facetwp-type-reset {
    width: 100%;

    .facetwp-reset {
        width: 100%;
        font-family: $primaryFont;
        font-weight: 600;
        line-height: 1.15 !important;
        padding: 10px 14px;
        position: relative;
        color: $white !important;
        background: $blue-ada !important;
        border: 1px solid $blue-ada !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $steel !important;
            background: $white !important; 
            border: 1px solid $steel !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
        }
    }
}
.facetwp-dropdown {
    font-size: 12px;
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 14px;
    border: 1px solid $steel;
    border-radius: $radius-xs;

    &:focus, &:focus-visible, &:focus-within {
        outline-color: transparent; 
        outline-style: solid;
        box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
        border-radius: $radius-xs;
    }

    &::placeholder {
        font-size: 12px;
        font-family: $primaryFont;
        font-weight: 400;
        line-height: 1.5;
    }
}
.facetwp-facet-search {
    .facetwp-input-wrap {
        width: 100%;

        .facetwp-icon {
            right: unset;
            left: 10px;
            opacity: 1;

            &.f-loading:before {
                animation: none;
            }

            &:before {
                background-image: url('/wp-content/uploads/2026/02/search-lg.svg') !important;
                position: absolute;
                top: calc(50% - 10px);
                background-position: unset;
                width: 20px;
                height: 20px;
            }
        }

        .facetwp-search {
            font-size: 12px;
            font-family: "Figtree", sans-serif;
            font-weight: 400;
            line-height: 1.5;
            padding: 10px 14px 10px 38px;
            border: 1px solid #647692;
            border-radius: 4px;
            min-width: unset;
            width: 100%;
            transition: all .3s ease-in-out !important;

            &:focus, &:focus-visible, &:focus-within {
                outline-color: transparent; 
                outline-style: solid;
                box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                border-radius: $radius-xs;
            }
        }
    }
}
.pagination {
    padding: 90px 0;

    &.archive {
        padding: 50px 0;
    }

    .facetwp-facet {
        width: 100%;
        margin-bottom: 0;

        .facetwp-pager {
            width: 100%;
            gap: 20px;
            display: flex;
            justify-content: center;
            position: relative;

            .facetwp-page {
                color: $steel;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                width: 25px;
                height: 25px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $primaryFont;

                &:focus, &:focus-visible, &:focus-within {
                    outline-color: transparent; 
                    outline-style: solid;
                    box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                    border-radius: $radius-xs;
                    color: $steel !important;
                    background: transparent !important;
                }

                &.active {
                    color: $white !important;
                    position: relative;

                    &:focus, &:focus-visible, &:focus-within {
                        border-radius: 50%;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: calc(50% - 20px);
                        left: calc(50% - 20px);
                        border-radius: 50px;
                        background: $steel;
                        z-index: -1;
                    }
                }
                &.prev {
                    position: absolute;
                    left: 0;
                    padding: 6px 0 6px 34px !important;
                    color: $steel !important;
                    background: transparent !important;
                    border-radius: $radius-xs;
                    font-weight: 400;
                    text-decoration: underline !important;
                    width: fit-content;
                    transition: all .3s ease-in-out !important;

                    &:after {
                        content: '';
                        background-image: url('/wp-content/uploads/2026/01/icon-3.svg');
                        background-size: 100%;
                        height: 12px;
                        width: 12px;
                        position: absolute;
                        top: calc(50% - 6px);
                        left: 10px;
                        transform: rotate(180deg);
                    }

                    &:hover {
                        color: $white !important;
                        background: $navy !important;
                        text-decoration: none !important;
                        padding-right: 10px !important;

                        &:after {
                            background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                        }
                    }

                    &:focus, &:focus-visible, &:focus-within {
                        outline-color: transparent; 
                        outline-style: solid;
                        box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                        border-radius: $radius-xs;
                        color: $white !important;
                        background: $navy !important;
                        text-decoration: none !important;
                        padding-right: 10px !important;

                        &:after {
                            background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                        }
                    }
                }
                &.next {
                    position: absolute;
                    right: 0;
                    padding: 6px 34px 6px 0 !important;
                    color: $steel !important;
                    background: transparent !important;
                    border-radius: $radius-xs;
                    font-weight: 400;
                    text-decoration: underline !important;
                    width: fit-content;
                    transition: all .3s ease-in-out !important;

                    &:after {
                        content: '';
                        background-image: url('/wp-content/uploads/2026/01/icon-3.svg');
                        background-size: 100%;
                        height: 12px;
                        width: 12px;
                        position: absolute;
                        top: calc(50% - 6px);
                        right: 10px;
                    }

                    &:hover {
                        color: $white !important;
                        background: $navy !important;
                        text-decoration: none !important;
                        padding-left: 10px !important;

                        &:after {
                            background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                        }
                    }

                    &:focus, &:focus-visible, &:focus-within {
                        outline-color: transparent; 
                        outline-style: solid;
                        box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                        border-radius: $radius-xs;
                        color: $white !important;
                        background: $navy !important;
                        text-decoration: none !important;
                        padding-left: 10px !important;

                        &:after {
                            background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                        }
                    }
                }
            }
        }
    }

    .nav-links {
        width: 100%;
        gap: 20px;
        display: flex;
        justify-content: center;
        position: relative;

        .page-numbers {
            color: $steel;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            width: 25px;
            height: 25px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $primaryFont;

            &:focus, &:focus-visible, &:focus-within {
                outline-color: transparent; 
                outline-style: solid;
                box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                border-radius: $radius-xs;
                color: $steel !important;
                background: transparent !important;
            }

            &.current {
                color: $white !important;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: calc(50% - 20px);
                    left: calc(50% - 20px);
                    border-radius: 50px;
                    background: $steel;
                    z-index: -1;
                }
            }
            &.prev {
                position: absolute;
                left: 0;
                padding: 6px 0 6px 34px !important;
                color: $steel !important;
                background: transparent !important;
                border-radius: $radius-xs;
                font-weight: 400;
                text-decoration: underline !important;
                width: fit-content;
                transition: all .3s ease-in-out !important;

                &:after {
                    content: '';
                    background-image: url('/wp-content/uploads/2026/01/icon-3.svg');
                    background-size: 100%;
                    height: 12px;
                    width: 12px;
                    position: absolute;
                    top: calc(50% - 6px);
                    left: 10px;
                    transform: rotate(180deg);
                }

                &:hover {
                    color: $white !important;
                    background: $navy !important;
                    text-decoration: none !important;
                    padding-right: 10px !important;

                    &:after {
                        background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                    }
                }

                &:focus, &:focus-visible, &:focus-within {
                    outline-color: transparent; 
                    outline-style: solid;
                    box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                    border-radius: $radius-xs;
                    color: $white !important;
                    background: $navy !important;
                    text-decoration: none !important;
                    padding-right: 10px !important;

                    &:after {
                        background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                    }
                }
            }
            &.next {
                position: absolute;
                right: 0;
                padding: 6px 34px 6px 0 !important;
                color: $steel !important;
                background: transparent !important;
                border-radius: $radius-xs;
                font-weight: 400;
                text-decoration: underline !important;
                width: fit-content;
                transition: all .3s ease-in-out !important;

                &:after {
                    content: '';
                    background-image: url('/wp-content/uploads/2026/01/icon-3.svg');
                    background-size: 100%;
                    height: 12px;
                    width: 12px;
                    position: absolute;
                    top: calc(50% - 6px);
                    right: 10px;
                }

                &:hover {
                    color: $white !important;
                    background: $navy !important;
                    text-decoration: none !important;
                    padding-left: 10px !important;

                    &:after {
                        background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                    }
                }

                &:focus, &:focus-visible, &:focus-within {
                    outline-color: transparent; 
                    outline-style: solid;
                    box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                    border-radius: $radius-xs;
                    color: $white !important;
                    background: $navy !important;
                    text-decoration: none !important;
                    padding-left: 10px !important;

                    &:after {
                        background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    
}
@media screen and (max-width: 767px) {
    .facetwp-facet {
        margin-bottom: 20px !important;
    }
    h1.h1-jumbo, .h1-jumbo, .h1-jumbo h1, .h1-jumbo h2 {
        font-size: 38px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 38px;
        }
    }
    h1, .h1 {
        font-size: 38px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 38px;
        }
    }
    h2.oversized-h2, .oversized-h2 {
        font-size: 38px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 38px;
        }
    }
    h2, .h2 {
        font-size: 32px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 32px;
        }
    }
    .oversized-h3 {
        font-size: 32px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 32px;
        }
    }
    h3, .h3 {
        font-size: 24px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 24px;
        }
    }
    h4, .h4 {
        font-size: 18px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 18px;
        }
    }
    h5, .h5 {
        font-size: 16px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 16px;
        }
    }
    h6, .h6 {
        font-size: 14px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 14px;
        }
    }
    .text-xl-regular {
        font-size: 18px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 18px;
        }
    }
    .text-xl-medium {
        font-size: 18px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 18px;
        }
    }
    .text-xl-bold {
        font-size: 18px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 18px;
        }
    }
    .text-lg-regular {
        font-size: 16px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 16px;
        }
    }
    .text-lg-medium {
        font-size: 16px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 16px;
        }
    }
    .text-lg-bold {
        font-size: 16px;

        h1, h2, h3, h4, h5, h6, p, li, a, button, span {
            font-size: 16px;
        }
    }
    .pagination {
        padding: 50px 0 90px;

        .nav-links {
            .page-numbers {
                &.prev, &.next {
                    top: calc(100% + 30px);
                }
            }
        }
    }
}

.background-white {
    background-color: $white;

    > p, > a, > li, > span, > button {
        background-color: $white;
    }
}
.background-navy {
    background-color: $navy;

    > p, > a, > li, > span, > button {
        background-color: $navy;
    }
}
.background-steel {
    background-color: $steel;

    > p, > a, > li, > span, > button {
        background-color: $steel;
    }
}
.background-silver {
    background-color: $silver;

    > p, > a, > li, > span, > button {
        background-color: $silver;
    }
}
.background-light-silver {
    background-color: $light-silver;

    > p, > a, > li, > span, > button {
        background-color: $light-silver;
    }
}
.background-lightest-silver {
    background-color: $lightest-silver;

    > p, > a, > li, > span, > button {
        background-color: $lightest-silver;
    }
}
.background-blue {
    background-color: $blue;

    > p, > a, > li, > span, > button {
        background-color: $blue;
    }
}
.background-blue-ada {
    background-color: $blue-ada;

    > p, > a, > li, > span, > button {
        background-color: $blue-ada;
    }
}
.background-green {
    background-color: $green;

    > p, > a, > li, > span, > button {
        background-color: $green;
    }
}
.background-green-ada {
    background-color: $green-ada;

    > p, > a, > li, > span, > button {
        background-color: $green-ada;
    }
}
.background-yellow {
    background-color: $yellow;

    > p, > a, > li, > span, > button {
        background-color: $yellow;
    }
}
.background-orange {
    background-color: $orange;

    p, a, li, span, button {
        background-color: $orange;
    }
}
.background-red {
    background-color: $red;

    p, a, li, span, button {
        background-color: $red;
    }
}
.background-red-ada {
    background-color: $red-ada;

    p, a, li, span, button {
        background-color: $red-ada;
    }
}
.background-violet {
    background-color: $violet;

    p, a, li, span, button {
        background-color: $violet;
    }
}
.background-black {
    background-color: $black;

    p, a, li, span, button {
        background-color: $black;
    }
}
.background-brown {
    background-color: $brown;

    p, a, li, span, button {
        background-color: $brown;
    }
}

.text-white {
    color: $white;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
}
.text-navy {
    color: $navy;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $navy;
    }
}
.text-steel {
    color: $steel;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $steel;
    }
}
.text-silver {
    color: $silver;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $silver;
    }
}
.text-light-silver {
    color: $light-silver;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $light-silver;
    }
}
.text-lightest-silver {
    color: $lightest-silver;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $lightest-silver;
    }
}
.text-blue {
    color: $blue;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $blue;
    }
}
.text-blue-ada {
    color: $blue-ada;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $blue-ada;
    }
}
.text-green {
    color: $green;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $green;
    }
}
.text-green-ada {
    color: $green-ada;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $green-ada;
    }
}
.text-yellow {
    color: $yellow;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $yellow;
    }
}
.text-orange {
    color: $orange;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $orange;
    }
}
.text-red {
    color: $red;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $red;
    }
}
.text-red-ada {
    color: $red-ada;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $red-ada;
    }
}
.text-violet {
    color: $violet;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $violet;
    }
}
.text-black {
    color: $black;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $black;
    }
}
.text-brown {
    color: $brown;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $brown;
    }
}

// Mobile styles
@media (max-width: 767px) {
    .col-12 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}