// Buttons
.button, button {
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-family: $primaryFont;
    font-weight: 600;
    text-decoration: none !important;
    transition: all .3s ease-in-out !important;
    width: fit-content;
    background: transparent !important;
    outline: none !important;
    border-color: transparent !important;

    &--primary {
        position: relative;
        padding: 10px 18px !important;
        color: $white !important;
        background: $blue-ada !important;
        border: 1px solid $blue-ada !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $steel !important;
            background: $white !important; 
            border: 1px solid $steel !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
        }
    }
    &--secondary {
        position: relative;
        padding: 10px 18px !important;
        color: $white !important;
        background: $steel !important;
        border: 1px solid $steel !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $steel !important;
            background: transparent !important;
            border: 1px solid $steel !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
        }
    }
    &--white {
        position: relative;
        padding: 10px 18px !important;
        color: $black !important;
        background: $white !important;
        border: 1px solid $white !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $white !important;
            background: $navy !important;
            border: 1px solid $steel !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $white !important;
            background: $white !important;
            border: 1px solid $white !important; 
        }
    }
    &--white-border {
        position: relative;
        padding: 10px 18px !important;
        color: $white !important;
        background: transparent !important;
        border: 1px solid $white !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $steel !important;
            background: $white !important;
            border: 1px solid $white !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            border-radius: $radius-xs;
            color: $white !important;
            background: transparent !important;
            border: 1px solid $white !important; 
        }
    }
    &--yellow {
        position: relative;
        padding: 10px 18px !important;
        color: $black !important;
        background: $yellow !important;
        border: 1px solid $yellow !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $white !important;
            background: $blue-ada !important;
            border: 1px solid $blue-ada !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $black !important;
            background: $yellow !important;
            border: 1px solid $yellow !important; 
        }
    }
    &--dark {
        position: relative;
        padding: 10px 18px !important;
        color: $white !important;
        background: $navy !important;
        border: 1px solid $steel !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $navy !important;
            background: transparent !important;
            border: 1px solid $navy !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $white !important;
            background: $navy !important;
            border: 1px solid $navy !important; 
        }
    }
    &--tertiary-md-blue {
        position: relative;
        padding: 6px 36px !important;
        color: $blue-ada !important;
        background: transparent !important;
        border: 1px solid transparent !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $white !important;
            background: $blue-ada !important;
            border: 1px solid $blue-ada !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $blue-ada !important;
            background: $white !important;
            border: 1px solid $white !important; 
        }
    }
    &--tertiary-sm-blue {
        position: relative;
        padding: 4px 18px !important;
        color: $blue-ada !important;
        background: transparent !important;
        border: 1px solid transparent !important; 
        border-radius: $radius-xs;

        &:hover {
            color: $white !important;
            background: $blue-ada !important;
            border: 1px solid $blue-ada !important; 
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $blue-ada !important;
            background: $white !important;
            border: 1px solid $white !important; 
        }
    }
    &--tertiary-sm-steel {
        position: relative;
        padding: 4px 18px !important;
        color: $steel !important;
        background: transparent !important;
        border: 1px solid transparent !important; 
        border-radius: $radius-xs;
        font-weight: 500;

        &:hover {
            color: $white !important;
            background: $navy !important;
            border: 1px solid $navy !important; 
            font-weight: 600;
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $steel !important;
            background: $white !important;
            border: 1px solid $white !important; 
            font-weight: 600;
        }
    }
    &--text {
        position: relative;
        padding: 12px 18px !important;
        color: $black !important;
        background: transparent !important;
        border: 1px solid transparent !important; 
        border-radius: $radius-xs;
        font-weight: 700;

        &:hover {
            color: $white !important;
            background: $blue-ada !important;
            border: 1px solid $blue-ada !important; 
            font-weight: 700;
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $black !important;
            background: $white !important;
            border: 1px solid $white !important; 
            font-weight: 700;
        }
    }
    &--black-underline {
        position: relative;
        padding: 4px 32px 4px 0 !important;
        color: $black !important;
        background: transparent !important;
        border: 1px solid transparent !important; 
        border-radius: $radius-xs;
        text-decoration: underline !important;

        &:after {
            content: '';
            height: 12px;
            width: 12px;
            position: absolute;
            top: calc(50% - 6px);
            background-size: 100%;
            right: 8px;
            background-image: url('/wp-content/uploads/2026/01/icon-4.svg');
            transition: all .3s ease-in-out !important;
        }

        &:hover {
            color: $white !important;
            background: $black !important;
            border: 1px solid $black !important; 
            text-decoration: none !important;
            padding-left: 8px !important;

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
            }
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $black !important;
            background: $white !important;
            border: 1px solid $white !important;
            padding-left: 8px !important;
            text-decoration: none !important;

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-4.svg');
            }
        }
    }
    &--white-underline {
        position: relative;
        padding: 4px 32px 4px 0 !important;
        color: $white !important;
        background: transparent !important;
        border: 1px solid transparent !important; 
        border-radius: $radius-xs;
        text-decoration: underline !important;

        &:after {
            content: '';
            height: 12px;
            width: 12px;
            position: absolute;
            top: calc(50% - 6px);
            background-size: 100%;
            right: 8px;
            background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
            transition: all .3s ease-in-out !important;
        }

        &:hover {
            color: $black !important;
            background: $white !important;
            border: 1px solid $white !important; 
            text-decoration: none !important;
            padding-left: 8px !important;

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-4.svg');
            }
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $black !important;
            background: $white !important;
            border: 1px solid $white !important;
            padding-left: 18px !important;
            text-decoration: none !important;
            padding-left: 8px !important;

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-4.svg');
            }
        }
    }
    &--steel-underline {
        position: relative;
        padding: 6px 34px 6px 0 !important;
        color: $steel !important;
        background: transparent !important;
        border-radius: $radius-xs;
        font-weight: 400;
        text-decoration: underline !important;

        &:after {
            content: '';
            background-image: url('/wp-content/uploads/2026/01/icon-3.svg');
            background-size: 100%;
            height: 12px;
            width: 12px;
            position: absolute;
            top: calc(50% - 6px);
            right: 10px;
            transition: all .3s ease-in-out !important;
        }

        &:hover {
            color: $white !important;
            background: $navy !important;
            text-decoration: none !important;
            padding-left: 10px !important;

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
            }
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $white !important;
            background: $navy !important;
            text-decoration: none !important;
            padding-left: 10px !important;

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
            }
        }
    }
    &--blue-underline {
        position: relative;
        padding: 6px 34px 6px 0 !important;
        color: $blue-ada !important;
        background: transparent !important;
        border-radius: $radius-xs;
        font-weight: 400;
        text-decoration: underline !important;

        &.email-button {
            padding-left: 24px !important;
            font-weight: 600 !important;

            &:before {
                content: '';
                background-image: url('/wp-content/uploads/2026/02/Icon-2.svg');
                background-size: 100%;
                height: 13px;
                width: 16px;
                position: absolute;
                top: calc(50% - 6px);
                left: 0;
                background-repeat: no-repeat;
                transition: all .3s ease-in-out !important;
            }
        }

        &:after {
            content: '';
            background-image: url('/wp-content/uploads/2026/02/Icon-1.svg');
            background-size: 100%;
            height: 12px;
            width: 12px;
            position: absolute;
            top: calc(50% - 6px);
            right: 10px;
            transition: all .3s ease-in-out !important;
        }

        &:hover {
            color: $white !important;
            background: $blue-ada !important;
            text-decoration: none !important;
            padding-left: 10px !important;

            &.email-button {
                padding-left: 34px !important;

                &:before {
                    background-image: url('/wp-content/uploads/2026/02/Icon-3.svg');
                    left: 10px;
                }
            }

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
            }
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $white !important;
            background: $blue-ada !important;
            text-decoration: none !important;
            padding-left: 10px !important;

            &.email-button {
                &:before {
                    background-image: url('/wp-content/uploads/2026/02/Icon-3.svg');
                }
            }

            &:after {
                background-image: url('/wp-content/uploads/2026/01/icon-2.svg');
            }
        }
    }
    &--small {
        position: relative;
        padding: 6px 18px !important;
        color: $steel !important;
        background: transparent !important;
        border: 1px solid transparent !important; 
        border-radius: $radius-xs;
        font-weight: 500;

        &:hover {
            color: $black !important;
            background: $silver !important;
            border: 1px solid $silver !important; 
            text-decoration: underline !important;
        }

        &:focus, &:focus-visible, &:focus-within {
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
            border-radius: $radius-xs;
            color: $steel !important;
            background: $white !important;
            border: 1px solid $white !important;
        }
    }
    &--white-close {
        position: relative;
        padding: 0px !important;
        color: $white !important;
        background: transparent !important;
        border: 1px solid transparent !important;

        &:hover {
            color: $white !important;
            background: transparent !important;
            border: 1px solid transparent !important;
        }

        &:focus, &:focus-visible, &:focus-within {
            border-radius: $radius-xs;
            color: $white !important;
            background: transparent !important;
            border: 1px solid $white !important; 
            outline-color: transparent; 
            outline-style: solid;
            box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
        }
    }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
    .button {
        &--tertiary {
            min-width: 340px;
        }
    }
}
@media screen and (max-width: 767px) {
    .button {
        &--tertiary {
            min-width: 300px;
            max-width: 300px !important;
        }
    }
}