.contact {
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 67%;
        height: 100%;
        background-color: $white;
        clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .container {
        z-index: 1;
    }
    &__right {
        &__header {
            color: $lightBlue;
        }
    }
    &__left {
        &__link {
            gap: 16px;

            img {
                height: 40px;
                width: 40px;
            }
        }
    }
    .gform_required_legend {
        display: none;
    }
    .gform_body .gform-field-label {
        font-size: 16px !important;
        font-family: 'Roboto Condensed' !important;
        font-weight: 400 !important;
        text-transform: uppercase !important;
        color: #112848 !important;
    }
    .gfield_required .gfield_required_asterisk {
        color: #62799B !important;
    }
    .gform_body .gform_fields {
        row-gap: 24px;
    }
    .gform_body .gfield .ginput_container, .gform_body .gfield .ginput_container_address span {
        position: relative;
        margin-inline: unset;
    }
    .gform_body .gfield .name_first:after, .gform_body .gfield .name_last:after, .gform_body .gfield .ginput_container_email:after, .gform_body .gfield .ginput_container_phone:after, .gform_body .gfield .ginput_container_address span:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #EEEEEE !important;
        top: 0;
        left: 0;
        transform: translateX(0) skew(-8deg);
    }
    .gform_body .gfield input[type="text"], .gform_body .gfield input[type="email"], .gform_body .gfield input[type="textarea"], .gform_body .gfield input[type="tel"] {
        background: transparent !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 24px 16px !important;
        clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%) !important;
        color: #21252980 !important;
        z-index: 1 !important;
        position: relative !important;
    }
    .gform_body .gfield .ginput_container_select {
        background: #EEEEEE !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 5px 16px!important;
        clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%) !important;
        color: #21252980 !important;
        position: relative !important;
    }
    .gform_body .gfield .gfield_select {
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        background: #EEEEEE !important;
        color: #21252980 !important;
        padding: 0 !important;
    }
    .gform_body .gfield .ginput_container_select::after {
        content: '';
        background: url("/wp-content/uploads/2024/10/Arrow-down-icon.svg");
        position: absolute;
        top: calc(50% - 3px);
        right: 24px;
        width: 10px;
        height: 6px;
        background-size: 100%;
    }
    .gform_body .gfield .ginput_container_consent {
        display: flex !important;
        align-items: center !important;
        cursor: pointer !important;
    }
    .gform_body .gfield .ginput_container_consent input[type="checkbox"] {
        background: #DDDDDD !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    .gform_footer input[type="submit"] {
        border-radius: 0px !important;
        color: $white !important;
        font-size: 16px !important;
        font-family: 'Roboto Condensed' !important;
        font-weight: 700 !important;
        letter-spacing: 1.5px !important;
        text-transform: uppercase !important;
        padding-top: 24px !important;
        padding-right: 32px !important;
        padding-bottom: 24px !important;
        padding-left: 32px !important;
        width: 100% !important;
        clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%) !important;
        background: #DC3545 !important;
        outline: none !important;
        border-radius: 0 !important;
    }
    .gform_footer input[type="submit"]:hover {
        background: #C42938 !important;
    }
    .gform_confirmation_message {
        color: $darkGray !important;
        font-size: 16px !important;
        font-family: 'Roboto Condensed' !important;
        font-weight: 400 !important;
        text-transform: none !important;
        margin-bottom: 0 !important;
    }
    .gform_submission_error, .gfield_validation_message {
        margin-bottom: 0 !important;
        font-family: 'Roboto Condensed' !important;
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .gform-theme--foundation .gfield--width-half {
      grid-column: span 12 !important;
    }
    .gform_body .gfield .ginput_container_consent .gfield_consent_label {
      margin-left: 8px !important;
    }
    .contact {
        &:after {
            width: 65%;
        }
    }
}
@media screen and (max-width: 767px) {
    .gform_body .gfield .ginput_container_consent .gfield_consent_label {
      margin-left: 8px !important;
    }
    .contact {
        &:after {
            display: none;
        }
    }
}