.featured-post {
    padding-left: 10px;
    padding-right: 10px;

    &.split-featured {
        padding-left: 0;
        padding-right: 0;
    }

    &__content {
        border-radius: $radius-3xl;
        z-index: 1;
        position: relative;
        box-shadow: 0px 24px 48px -12px rgba(16,24,40,0.18);
        -webkit-box-shadow: 0px 24px 48px -12px rgba(16,24,40,0.18);
        -moz-box-shadow: 0px 24px 48px -12px rgba(16,24,40,0.18);
        overflow: hidden;

        &__wrap {
            z-index: 1;
            position: relative;
        }

        &__bg-img {
            width: 45%;
            left: unset;
            padding: 0;
        }
    }
    &__left {
        img {
            border-radius: $radius-md;
            object-fit: cover;
            // max-height: 600px;
        }
    }
    &__right {
        // height: 500px;

        > div {
            border-radius: $radius-md;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .featured-post {
        padding-left: 10px;
        padding-right: 10px;

        &.split-featured {
            .featured-post__left {
                padding-bottom: 20px;
            }
        }

        &__content {
            &__wrap {
                padding-bottom: 360px !important;

                &__buttons {
                    flex-direction: column;

                    .button {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            &__bg-img {
                width: 100%;
                left: 0;
                top: unset;
                height: 300px !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .featured-post {
        &.full-width-featured {
            padding-left: 20px;
            padding-right: 20px;
        }

        &.split-featured {
            .featured-post__left {
                padding-bottom: 20px;
            }
        }

        &__content {
            &__wrap {
                padding-bottom: 360px !important;

                &__buttons {
                    flex-direction: column;

                    .button {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            &__bg-img {
                width: 100%;
                left: 0;
                top: unset;
                height: 300px !important;
            }
        }

        &__left {
            img {
                // max-height: 220px;
            }
        }
        &__right {
            // height: fit-content;
        }
    }
}