.featured-post-grid {
    &__header {
        font-weight: 300 !important;
    }
    &__wrap {
        padding-top: 260px;

        &__cta {
            transition: all .3s ease-in-out !important;

            &:hover {
                transform: scale(1.1);
            }
            img {
                height: 20px;
                width: 20px;
            }
        }

        &__img {
            height: 240px;
            width: calc(100% - 24px);
            left: 12px;

            img {
                border-radius: $radius-md;
            }
        }

        &__excerpt {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            padding-right: 40px;

            p {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .featured-post-grid {
        &__wrap {
            &__img {
                width: calc(100% - 40px);
                left: 20px;
            }
        }
    }
}
