.footer {
    background: $navy;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000000;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(17, 121, 197, 1) 100%);
        opacity: 0.2;
    }

    a {
        width: fit-content;
    }

    &__fax {
        padding-left: 3px;
    }

    &__container {
        ul.menu {
            padding-left: 0;
            list-style: none;
            row-gap: 8px;
            display: grid;

            li {
                a {
                    color: $white;
                    font-size: 14px;
                    font-family: $primaryFont;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }
        }

        &__affiliations {
            img {
                max-height: 100px;
                width: auto;
                height: fit-content;
            }
        }
    }

    &__bottom {
        background: #0A1947;
        z-index: 1;

        &__legal {
            p {
                margin-bottom: 0;
            }
        }
    }

    &__logo {
        &__img {
            max-width: 170px;
        }
    }

    &__socials {
        transition: all .3s ease-in-out !important;

        &:hover {
            transform: scale(1.1);
        }
        img {
            height: 24px;
            width: 24px;
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    
}
@media (max-width: 767px) {
    .footer {
        &__logo {
            &__img {
                max-width: 140px;
                padding-right: 25px;
            }
        }

        &__small-gap {
            row-gap: 40px;
        }

        &__socials {
            img {
                height: 36px;
                width: 36px;
            }
        }

        &__container {
            &__affiliations {
                img {
                    max-height: 80px;
                }
            }
        }
    }
}