.footer {
    background: $navy;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000000;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(17, 121, 197, 1) 100%);
        opacity: 0.3;
    }

    &__bottom {
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000000;
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(17, 121, 197, 1) 100%);
            opacity: 0.1;
        }
    }

    &__logo {
        &__img {
            max-width: 170px;
        }
    }

    #menu-footer-navigation {
        display: flex;
        gap: 20px;
        justify-content: end;
    }

    &__socials {
        transition: all .3s ease-in-out !important;

        &:hover {
            transform: scale(1.1);
        }
        img {
            height: 24px;
            width: 24px;
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    
}
@media (max-width: 767px) {
    #footer {
        .wp-block-columns {
            p, figure {
                text-align: center !important;
            }
            figure {
                float: unset;
                width: 100%;
                margin: 0;
            }
        }
        #menu-footer-nav {
            justify-content: center;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }
}