.full-width-image {
    &__content {
        border-radius: $radius-3xl;
        overflow: hidden;
        
        img {
            border-radius: $radius-3xl;
        }
    }
    &__inset-top {
        position: absolute;
        height: 80px;
        width: 380px;
        top: 0;
        right: 0;
    }
    &__inset-bottom {
        position: absolute;
        height: 80px;
        width: 380px;
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 767px) {
    .full-width-image {
        &__inset-top {
            height: 30px;
            width: 140px;
        }
        &__inset-bottom {
            height: 30px;
            width: 140px;
        }
        &__bg-img {
            height: 235px !important;
        }
    }
}