.background-white {
    background-color: $white;

    > p, > a, > li, > span, > button {
        background-color: $white;
    }
}
.background-navy {
    background-color: $navy;

    > p, > a, > li, > span, > button {
        background-color: $navy;
    }
}
.background-steel {
    background-color: $steel;

    > p, > a, > li, > span, > button {
        background-color: $steel;
    }
}
.background-silver {
    background-color: $silver;

    > p, > a, > li, > span, > button {
        background-color: $silver;
    }
}
.background-light-silver {
    background-color: $light-silver;

    > p, > a, > li, > span, > button {
        background-color: $light-silver;
    }
}
.background-lightest-silver {
    background-color: $lightest-silver;

    > p, > a, > li, > span, > button {
        background-color: $lightest-silver;
    }
}
.background-blue {
    background-color: $blue;

    > p, > a, > li, > span, > button {
        background-color: $blue;
    }
}
.background-blue-ada {
    background-color: $blue-ada;

    > p, > a, > li, > span, > button {
        background-color: $blue-ada;
    }
}
.background-green {
    background-color: $green;

    > p, > a, > li, > span, > button {
        background-color: $green;
    }
}
.background-green-ada {
    background-color: $green-ada;

    > p, > a, > li, > span, > button {
        background-color: $green-ada;
    }
}
.background-yellow {
    background-color: $yellow;

    > p, > a, > li, > span, > button {
        background-color: $yellow;
    }
}
.background-orange {
    background-color: $orange;

    p, a, li, span, button {
        background-color: $orange;
    }
}
.background-red {
    background-color: $red;

    p, a, li, span, button {
        background-color: $red;
    }
}
.background-red-ada {
    background-color: $red-ada;

    p, a, li, span, button {
        background-color: $red-ada;
    }
}
.background-violet {
    background-color: $violet;

    p, a, li, span, button {
        background-color: $violet;
    }
}
.background-black {
    background-color: $black;

    p, a, li, span, button {
        background-color: $black;
    }
}
.background-brown {
    background-color: $brown;

    p, a, li, span, button {
        background-color: $brown;
    }
}

.text-white {
    color: $white;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
}
.text-navy {
    color: $navy;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $navy;
    }
}
.text-steel {
    color: $steel;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $steel;
    }
}
.text-silver {
    color: $silver;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $silver;
    }
}
.text-light-silver {
    color: $light-silver;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $light-silver;
    }
}
.text-lightest-silver {
    color: $lightest-silver;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $lightest-silver;
    }
}
.text-blue {
    color: $blue;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $blue;
    }
}
.text-blue-ada {
    color: $blue-ada;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $blue-ada;
    }
}
.text-green {
    color: $green;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $green;
    }
}
.text-green-ada {
    color: $green-ada;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $green-ada;
    }
}
.text-yellow {
    color: $yellow;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $yellow;
    }
}
.text-orange {
    color: $orange;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $orange;
    }
}
.text-red {
    color: $red;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $red;
    }
}
.text-red-ada {
    color: $red-ada;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $red-ada;
    }
}
.text-violet {
    color: $violet;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $violet;
    }
}
.text-black {
    color: $black;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $black;
    }
}
.text-brown {
    color: $brown;

    p, a, li, span, button, h1, h2, h3, h4, h5, h6 {
        color: $brown;
    }
}

// Mobile styles
@media (max-width: 767px) {
    .col-12 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}