.background-white {
    background-color: $white;
}
.background-navy {
    background-color: $navy;
}
.background-steel {
    background-color: $steel;
}
.background-silver {
    background-color: $silver;
}
.background-light-silver {
    background-color: $light-silver;
}
.background-lightest-silver {
    background-color: $lightest-silver;
}
.background-blue {
    background-color: $blue;
}
.background-blue-ada {
    background-color: $blue-ada;
}
.background-green {
    background-color: $green;
}
.background-green-ada {
    background-color: $green-ada;
}
.background-yellow {
    background-color: $yellow;
}
.background-orange {
    background-color: $orange;
}
.background-red {
    background-color: $red;
}
.background-red-ada {
    background-color: $red-ada;
}
.background-violet {
    background-color: $violet;
}
.background-black {
    background-color: $black;
}
.background-brown {
    background-color: $brown;
}

.text-white {
    color: $white;
}
.text-navy {
    color: $navy;
}
.text-steel {
    color: $steel;
}
.text-silver {
    color: $silver;
}
.text-light-silver {
    color: $light-silver;
}
.text-lightest-silver {
    color: $lightest-silver;
}
.text-blue {
    color: $blue;
}
.text-blue-ada {
    color: $blue-ada;
}
.text-green {
    color: $green;
}
.text-green-ada {
    color: $green-ada;
}
.text-yellow {
    color: $yellow;
}
.text-orange {
    color: $orange;
}
.text-red {
    color: $red;
}
.text-red-ada {
    color: $red-ada;
}
.text-violet {
    color: $violet;
}
.text-black {
    color: $black;
}
.text-brown {
    color: $brown;
}