.cookie-policy, .announcement-bar {
    transition: opacity 0.3s ease;
    opacity: 1;

    .banner-close {
        position: relative;
        min-height: 24px;
        padding: 0 25px 0 0;

        &:after {
            content: '';
            background-image: url('/wp-content/uploads/2026/01/x-close.svg');
            background-size: 100%;
            height: 20px;
            width: 20px;
            position: absolute;
            top: calc(50% - 10px);
            right: 0;
        }
    }
}
.cookie-policy[aria-hidden="true"], .announcement-bar[aria-hidden="true"] {
    opacity: 0;
    height: 0;
    padding: 0 !important;
}
.cookie-policy p, .announcement-bar p {
    margin-bottom: 0 !important;
}
.cookie-policy a, .cookie-policy a:hover {
    color: $white !important;
}
.cookie-policy button, .announcement-bar .button, .announcement-bar button {
    background: transparent;
    border: none;
    text-decoration: underline !important;
    font-weight: 400 !important;
}

.header {
    &--top {
        width: fit-content;
        border-radius: 0 0 10px 10px;
        position: relative;

        nav {
            padding-right: 100px;

            #menu-top-main-menu {
                display: flex;
                gap: 10px;
                padding-left: 0;
                list-style: none;
                margin-bottom: 0;

                .sub-menu {
                    padding: 10px 40px 10px 10px;
                    border-radius: 0 0px 2px 2px;

                    li {
                        padding-left: 0 !important;
                        border-bottom: 1px solid $blue;

                        &:last-of-type {
                            border-bottom: none;
                        }
                    }
                }

                li.menu-item {
                    position: relative;
                    padding: 5px 10px;

                    a {
                        text-decoration: none;
                        // font-family: $secondaryFont;
                        // font-weight: 500;
                        // font-size: 12px;
                        // line-height: 1;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &.menu-item-has-children {
                        > a {
                            position: relative;
                            padding-right: 20px;

                            &:after {
                                content: '';
                                position: absolute;
                                width: 10px;
                                height: 6px;
                                right: 0;
                                top: calc(50% - 3px);
                                background-image: url('/wp-content/uploads/2026/01/icon.svg');
                                background-size: 100%;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }

        .searchform {
            position: absolute;
            right: 20px;
            width: 80px;
            top: calc(50% - 12px);
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;

            &.active-search {
                background: $lightest-silver;
                width: calc(100% - 40px);

                #searchinput {
                    border: 1px solid $steel;
                    border-radius: 4px;
                    width: 300px;
                }

                .submit {
                    background-color: $steel !important;
                    background-image: url('/wp-content/uploads/2026/01/search-sm-1.svg') !important;
                    cursor: pointer;
                    color: $white;
                    width: fit-content;
                    background-repeat: no-repeat !important;
                    background-position: 90% !important;
                    padding: 6px 35px 6px 8px !important;
                    top: 0;
                    right: unset;
                    left: 310px;
                    background-size: 15px !important;
                }
                .banner-close {
                    opacity: 1;
                    height: fit-content;
                    position: absolute;
                    right: 0;
                    padding-right: 20px;
                }
            }

            #searchinput {
                background: transparent;
                border: none;
                outline: none;
                font-family: $primaryFont;
                font-weight: 500;
                font-size: 12px;
                line-height: 1;
                width: 65px;
                transition: all 0.3s ease-in-out;
                padding: 6px 8px;
                
                &::placeholder {
                    color: $steel;
                    font-family: $primaryFont;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1;
                }
            }
            .submit {
                background-color: transparent !important;
                border-radius: 4px;
                position: absolute;
                width: 20px;
                right: 0;
                left: unset;
                font-size: 12px !important;
                font-weight: 500 !important;
                line-height: 1 !important;
                top: 0;
                top: calc(50% - 10px);
                background-image: url('/wp-content/uploads/2026/01/search-sm.svg') !important;
                background-size: 15px !important;
                background-position: 90% !important;
                background-repeat: no-repeat !important;
                transition: all 0.3s ease-in-out !important;
            }
            .banner-close {
                right: 0;
                height: 0;
                opacity: 0;
                transition: all 0.3s ease-in-out !important;

                &:after {
                    content: '';
                    background-image: url('/wp-content/uploads/2026/01/icon-1.svg');
                    background-size: 100%;
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    top: calc(50% - 5px);
                    right: 0;
                }
            }
        }
    }
    .menu-main-menu-container {
        #menu-primary-navigation {
            padding-left: 0;
            list-style: none;
            display: flex;
            gap: 30px;
            margin-bottom: 0;
            align-items: center;

            .sub-menu {
                padding: 10px 40px 10px 10px;
                border-radius: 0 0px 2px 2px;

                li {
                    padding-left: 0 !important;
                    border-bottom: 1px solid $blue;

                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }

            li.menu-item {
                position: relative;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    font-family: $primaryFont;
                    font-weight: 600;
                    line-height: 1.5;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.menu-item-has-children {
                    > a {
                        position: relative;
                        padding-right: 20px;

                        &:after {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 6px;
                            right: 0;
                            top: calc(50% - 3px);
                            background-image: url('/wp-content/uploads/2026/01/icon.svg');
                            background-size: 100%;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            .contact-us-button a {
                position: relative;
                padding: 10px 18px !important;
                color: $black !important;
                background: $yellow !important;
                border: 1px solid $yellow !important; 
                border-radius: $radius-xs;
                font-size: 16px !important;
                line-height: 1.5 !important;
                font-family: $primaryFont;
                font-weight: 600;
                text-decoration: none !important;
                transition: all .3s ease-in-out !important;
                width: fit-content;
                outline: none !important;

                &:hover {
                    color: $white !important;
                    background: $blue-ada !important;
                    border: 1px solid $blue-ada !important; 
                }

                &:focus, &:focus-visible, &:focus-within {
                    outline-color: transparent; 
                    outline-style: solid;
                    box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                    border-radius: $radius-xs;
                    color: $black !important;
                    background: $yellow !important;
                    border: 1px solid $yellow !important; 
                }
            }
        }
    }
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: $lightest-silver;
    z-index: 999;
    list-style: none;
    width: 190px;
}

.menu-item-has-children:hover > .sub-menu,
.menu-item-has-children > a[aria-expanded="true"] + .sub-menu,
.sub-menu.submenu-open {
    display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
    header.site-header {
        .header__container {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
        }
        .offcanvas-end {
            width: 100%;
            padding: 50px;
        }
        .offcanvas-body {
            display: flex;
            flex-direction: column;
        }
        .navbar-nav {
            margin-left: 0 !important;
            gap: 20px;

            .menu-item {
                text-align: center;

                a {
                    // color: $primaryBlue;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    header.site-header {
        .header__container {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
            padding-left: 28px !important;
            padding-right: 28px !important;
        }
        .offcanvas-end {
            width: 100%;
            padding: 20px;
        }
        .offcanvas-body {
            display: flex;
            flex-direction: column;
        }
        .navbar-nav {
            margin-left: 0 !important;
            gap: 20px;

            .menu-item {
                text-align: center;

                a {
                    // color: $primaryBlue;
                }
            }
        }
    }
}