.hero-collage {
    &__container {
        &__bg {
            width: 25%;
            height: 60%;
            right: 8%;
            position: absolute;
            top: 0;
        }
        &:before {
            content: '';
            background: $silver;
            height: 20%;
            width: 8%;
            position: absolute;
            top: 60%;
            right: 0;
        }
        &:after {
            content: '';
            background-image: url('/wp-content/uploads/2026/01/halftone-1.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 40%;
            height: 20%;
            position: absolute;
            right: 8%;
            bottom: 0;
        }
        &__image {
            width: 30%;
            right: 12%;
            z-index: 1;
            height: 80% !important;
            top: 10%;
            left: unset;

            &:after {
                content: '';
                width: 0; 
                height: 0; 
                bottom: 0;
                left: 0;
                position: absolute;
                border-top: 40px solid transparent;
                border-right: 40px solid transparent;
                border-bottom: 40px solid $white;
                border-left: 40px solid $white;
            }
        }
        &__content {
            &__wrap {
                &__buttons {
                    gap: 24px;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .hero-collage {
        &__container {
            &:before {
                height: 60px;
                width: 15%;
                top: unset;
                bottom: 120px;
            }
            &:after {
                width: 100%;
                height: 100px;
                right: 15%;
                bottom: 20px;
            }
            &__bg {
                width: 60%;
                top: unset;
                height: 200px;
                bottom: 180px;
                right: 15%;
            }
            &__image {
                width: 70%;
                right: 25%;
                height: 300px !important;
                top: unset;
                bottom: 48px;
            }
            &__content {
                padding-bottom: 350px;

                &__bg-img {
                    height: 175px !important;
                    padding: 0;
                }

                &__wrap {
                    &__buttons {
                        gap: 15px;
                    }
                }
            }
        }
    }
}