.hero {
    &--home {
        overflow: hidden;
        border-bottom: 4px solid $lightRed;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 3;
        }

        &__header {
            position: relative;
            z-index: 1;
            color: #fff;
            font-weight: 400;

            span {
                font-weight: 700;
                font-style: italic;
            }
        }

        &__subheader {
            position: relative;
            z-index: 1;
            color: #fff;
            margin-bottom: 40px;
        }

        &__bg-image {
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                z-index: 1;
            }

            img {
                position: absolute;
            }

            &:before {
                content: '';
                position: absolute;
                background: $darkBlue;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0.85;
                z-index: 2;
            }
        }
    }

    &__header {
        position: relative;
        z-index: 1;
        color: #fff;
    }
}
.error-hero {
    &__container {
        position: relative;
        z-index: 1;

        p, a {
            color: $white;
        }
    }
}