.logo-block {
    &__row {
        column-gap: 40px;
        row-gap: 40px;

        &__icon {
            transition: all .3s ease-in-out !important;
            border: 1px solid transparent;

            img {
                height: 75px;
                width: auto;
                transition: all .3s ease-in-out !important;
            }

            &:hover {
                border-radius: $radius-md;
                border: 1px solid $steel;

                img {
                    transform: scale(0.95);
                }
            }

            &:focus, &:focus-visible, &:focus-within {
                outline-color: transparent; 
                outline-style: solid;
                box-shadow: 0 0 0 3px $white, 0 0 0 4px $silver;
                border-radius: $radius-md;

                img {
                    transform: scale(0.95);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .logo-block {
        &__row {
            row-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            padding-right: 20px;
            padding-left: 20px;

            &__icon {
                img {
                    height: 60px;
                }
            }
        }
    }
}