.multi-col-img-tiles {
    &__content {
        // display: grid;
        // grid-auto-columns: 1fr;
        // grid-auto-flow: column;
        // gap: 20px;
        display: grid;
        gap: 20px;
        grid-auto-columns: unset;
        grid-auto-flow: unset;

        &__col {
            &__image {
                border-radius: $radius-md;
                aspect-ratio: 1 / 1;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .multi-col-img-tiles {
        padding-left: 20px !important;
        padding-right: 20px !important;

        &__content {
            // row-gap: 40px !important;
            // grid-template-columns: repeat(2, 1fr);
            // grid-auto-columns: unset;
            // grid-auto-flow: unset;
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }
}

@media (max-width: 767px) {
    .multi-col-img-tiles {
        padding-left: 20px !important;
        padding-right: 20px !important;
        
        &__content {
            // row-gap: 30px !important;
            // grid-template-columns: repeat(1, 1fr);
            // grid-auto-columns: unset;
            // grid-auto-flow: unset;
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}