.multi-col-tiles {
    &__bg-img {
        &__overlay {
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
    &__bg-video {
        &__overlay {
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
    &__content {
        column-gap: 15px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;

        &.stack-columns {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            grid-auto-columns: unset;
            grid-auto-flow: unset;
        }

        &.cta-column {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-auto-columns: unset;
            grid-auto-flow: unset;

            .multi-col-tiles__content__col:last-of-type {
                grid-column: span 2;

                h3 {
                    @extend .h2;
                }
            }
        }

        &__col {
            border-radius: $radius-md;

            &__icon {
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .multi-col-tiles {
        padding-left: 20px !important;
        padding-right: 20px !important;
        
        &__content {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
}

@media (max-width: 767px) {
    .multi-col-tiles {
        padding-left: 20px !important;
        padding-right: 20px !important;

        &__content {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }
}