.multi-col-img-tiles {
    &__content {
        display: grid;
        gap: 20px;
        grid-auto-columns: unset;
        grid-auto-flow: unset;
        padding-left: 10px;
        padding-right: 10px;

        &__col {
            &__image {
                border-radius: $radius-md;
                aspect-ratio: 1 / 1;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .multi-col-img-tiles {
        padding-left: 20px !important;
        padding-right: 20px !important;

        &__content {
            grid-template-columns: repeat(2, 1fr) !important;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 767px) {
    .multi-col-img-tiles {
        padding-left: 20px !important;
        padding-right: 20px !important;
        
        &__content {
            grid-template-columns: repeat(1, 1fr) !important;
            padding-left: 0;
            padding-right: 0;
        }
    }
}