.sixty-forty {
    &__content {
        padding-left: 30px;

        &:after {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: $lightBlue;
            opacity: 0.5;
            bottom: 0;
            left: 0;
        }
    }
    &__image {
        text-align: right;

        img {
            height: 150px;
        }
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .sixty-forty {
        &__content {
            padding-left: 20px;
        }
    }
}
@media screen and (max-width: 767px) {
    .sixty-forty {
        &__content {
            text-align: center;
            padding-left: 12px;
            order: 2;

            &:after {
                width: 100px;
                height: 1px;
                left: calc(50% - 50px);
                top: 0;
            }
        }
        &__image {
            text-align: center;
            order: 1;
        }
    }
}