.stats {
    &__row {
        column-gap: 20px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;

        &__col {
            border-radius: $radius-md;
        }
    }
}
@media (min-width: 767px) and (max-width: 992px) {
    .stats {
        padding-left: 20px !important;
        padding-right: 20px !important;

        &__row {
            row-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-columns: unset;
            grid-auto-flow: unset;
        }
    }
}
@media (max-width: 767px) {
    .stats {
        padding-left: 20px !important;
        padding-right: 20px !important;

        &.background-white {
            padding-right: 20px;
            padding-left: 20px;
        }

        &__row {
            row-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-columns: unset;
            grid-auto-flow: unset;
        }
    }
}