.standard-content {
    &.background-white, &.background-light-silver {
        a {
            color: $blue-ada;
        }
    }
    &.background-blue-ada, &.background-navy {
        a {
            color: $white;
        }
    }
    &__wrap {
        &__columns {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &__buttons {
            gap: 12px;
            flex-wrap: wrap;
        }

        h1.h1-jumbo, .h1-jumbo, .h1-jumbo h1, .h1-jumbo h2 {
            font-size: 60px;
            font-family: $primaryFont;
            text-transform: uppercase;
            line-height: 1.16;
            font-weight: 300;
            letter-spacing: -1px;
        }
        h1, .h1 {
            font-size: 60px;
            font-family: $primaryFont;
            line-height: 1.1;
            font-weight: 300;
        }
        h2.oversized-h2, .oversized-h2 {
            font-size: 62px;
            font-family: $primaryFont;
            font-weight: 300;
            line-height: 1.2;
            letter-spacing: -1px;
        }
        h2, .h2 {
            font-size: 32px;
            font-family: $primaryFont;
            font-weight: 300;
            line-height: 1.375;
            letter-spacing: -1px;
            margin: 0 0 20px !important;
        }
        .oversized-h3 {
            font-size: 48px;
            font-family: $primaryFont;
            font-weight: 300;
            line-height: 1.33;
            letter-spacing: -1px;
        }
        h3, .h3 {
            font-size: 24px;
            font-family: $primaryFont;
            font-weight: 400;
            line-height: 1.33;
            letter-spacing: -1px;
        }
        h4, .h4 {
            font-size: 20px;
            font-family: $primaryFont;
            font-weight: 400;
            line-height: 1.4;
            letter-spacing: -1px;
        }
        h5, .h5 {
            font-size: 18px;
            font-family: $primaryFont;
            font-weight: 400;
            line-height: 1.33;
        }
        h6, .h6 {
            font-size: 16px;
            font-family: $primaryFont;
            font-weight: 400;
            line-height: 1.25;
        }
        p {
            font-size: 16px;
            font-family: $primaryFont;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}
@media (max-width: 767px) {
    .standard-content {
        &__wrap {
            &__columns {
                grid-template-columns: 1fr;
            }
        }
    }
}