.stats {
    &__row {
        column-gap: 20px;

        &__col {
            border-radius: $radius-md;
        }
    }
}
@media (min-width: 767px) and (max-width: 1200px) {
    .stats {
        &__row {
            row-gap: 20px;

            &__col {
                flex: 0 0 auto;
                width: 48%;
            }
        }
    }
}
@media (max-width: 767px) {
    .stats {
        &.background-white {
            padding-right: 20px;
            padding-left: 20px;
        }

        &__row {
            row-gap: 20px;

            &__col {
                flex: 0 0 auto;
                width: 100%;
            }
        }
    }
}