.testimonials {
    &--collage {
        &:after {
            content: '';
            background-image: url('/wp-content/uploads/2026/01/d806c26951d7fa168dfce167f2c6a4c28548e64e-1-1-e1769670392281.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 40%;
            position: absolute;
            opacity: 0.05;
            right: 0;
            top: 0;
        }
        &:before {
            content: '';
            background-image: url('/wp-content/uploads/2026/01/d806c26951d7fa168dfce167f2c6a4c28548e64e-1-1-e1769670392281.png');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 40%;
            position: absolute;
            opacity: 0.05;
            right: 0;
            top: 0;
        }
    }
}