.timeline {
    &:before {
        content: '';
        background: $light-silver;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        top: 20px;
        position: absolute;
        left: calc(50% - 10px);
    }
    &:after {
        content: '';
        background: $light-silver;
        height: calc(100% - 30px);
        width: 4px;
        top: 30px;
        position: absolute;
        left: calc(50% - 2px);
    }
    &__row {
        gap: 40px;
        z-index: 1;

        &__col {
            border: 4px solid $light-silver;
            border-radius: $radius-md;

            &__image {
                width: 30%;
            }
            &__content {
                width: 70%;

                .oversized-h3 {
                    h1, h2, h3, h4, h5, h6, p, li, a, button, span {
                        margin-bottom: 0;
                    }
                }
            }
            &.left {
                justify-content: end;
                display: flex;

                .timeline__row__col__image {
                    left: 0;
                    right: unset;

                    img {
                        border-radius: 4px 0 0 4px;
                    }
                }
            }
            &.right {
                .timeline__row__col__image {
                    left: unset;
                    right: 0;

                    img {
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .timeline {
        &__row {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}
@media (max-width: 767px) {
    .timeline {
        &:before {
            top: 0px;
        }
        &:after {
            height: calc(100% - 10px);
            top: 10px;
        }
        &__row {
            &__col {
                padding-left: 0 !important;
                padding-right: 0 !important;

                &__image {
                    width: 100%;
                    height: 200px;
                    bottom: unset;
                    top: 0;

                    img {
                        border-radius: 4px 4px 0 0 !important;
                    }
                }
                &__content {
                    width: 100%;
                }
            }
        }
    }
    .timeline__row__col__content:has(+ .timeline__row__col__image) {
        padding-top: 230px !important;
    }
}