.twitter-banner {
    background: $blue;

    &__header {
        color: $white;
    }

    &__bg-image {
        img {
            height: 100%;
            width: auto;
        }
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
    
}
@media screen and (max-width: 767px) {
    
}