.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: unset !important;
}
body.block-editor-page .interface-interface-skeleton__sidebar {
    width: 420px !important;
    flex: 0 0 420px !important;
}
body.block-editor-page .interface-interface-skeleton__sidebar .interface-complementary-area__fill {
    width: 100% !important;
}
body.block-editor-page .interface-interface-skeleton__sidebar .interface-complementary-area{
    width: 100% !important;
}